modLoader = "javafml"
loaderVersion = "${loader_version_range}"
license = "${mod_license}"
issueTrackerURL = "https://github.com/Swedz/Tesseract/issues"

[[mods]]
modId = "${mod_id}"
version = "${mod_version}"
displayName = "${mod_name}"
authors = "${mod_authors}"
description = '''${mod_description}'''
displayURL = "https://github.com/Swedz/Tesseract"
logoFile = "assets/tesseract/logo.png"

[[mixins]]
config = "${mod_id}.mixins.json"

[[mixins]]
config = "${mod_id}_mi.mixins.json"

[[accessTransformers]]
file = "${mod_id}.accesstransformer.cfg"

[[dependencies.${ mod_id }]]
modId = "neoforge"
type = "required"
versionRange = "${neoforge_version_range}"
ordering = "NONE"
side = "BOTH"

[[dependencies.${ mod_id }]]
modId = "modern_industrialization"
type = "optional"
versionRange = "${modern_industrialization_version_range}"
ordering = "AFTER"
side = "BOTH"